
.\#*
*~
\.\#*
\#*\#
*.a
*.app
auto-save-list
build/
.cache
.cache/
celerybeat-schedule
*.ckpt
*.cmd
*,cover
*.cover
.coverage
.coverage.*
coverage.xml
*.d
db.sqlite3
develop-eggs/
dist/
dkms.conf
*.dll
docs/_build/
downloads/
.DS_Store
*.DS_Store
*.dSYM/
*.dylib
*.egg
*.egg-info/
.eggs/
eggs/
*.elc
*.elf
/.emacs.desktop
/.emacs.desktop.lock
.env
env/
ENV/
env.bak/
*.exe
*.exp
*.gch
*.hex
htmlcov/
.hypothesis/
*.i*86
*.idb
*.ilk
.installed.cfg
instance/
.ipynb_checkpoints
*.ko
*.la
*.lib
lib/
lib64/
*.lo
local_settings.py
*.log
*.manifest
MANIFEST
*.map
Mkfile.old
*.mo
*.mod*
modules.order
Module.symvers
mule.core
.mypy_cache/
nosetests.xml
*.o
*.obj
*.out
parts/
*.pch
*.pdb
pip-delete-this-directory.txt
pip-log.txt
*.pot
*.pyc
__pycache__/
*$py.class
*.py[cod]
*.pyo
.pytest_cache/
.Python
.python-version
.ropeproject
*.sage.py
.scrapy
sdist/
/site
*.so
*.so.*
*.spec
.spyderproject
.spyproject
*.su
target/
tmp/
.tmp_versions/
tor_configs/haproxy.conf
tor_configs/Procfile
tor_configs/torrc.*
.tox/
tramp
var/
.venv
venv/
venv.bak/
.webassets-cache
wheels/
*.x86_64
